@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$height: 46px;

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.app {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}

.wrap {
  width: 500px;
}

.select {
  width: 100%;
  position: relative;

  &.open {
    .select__dropdown {
      display: block;
    }
    .select__input {
      border-bottom: none;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1rem;
    border: 1px solid #ccc;
    height: $height;
    border-radius: 5px;
    cursor: pointer;
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: $height;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__item {
    padding: 1rem;
    border-bottom: 1px solid #ccc;

    &:hover {
      background-color: #eee;
      cursor: pointer;
      transition: 0.15 background-color ease-in;
    }
  }
}
